<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @protein, html: { class: 'form-horizontal' } do |form| %>
      <%= form.input :name, label: "Name (required)" %>
      <%= form.input :gi_number, label: "Accession Number", required: false %>
      <%= form.input :sequence, required: false %>
      <%= form.submit class: "btn btn-primary" %>
    <% end %>
    <!-- This will write the sequence and name to the database using POST. I can then use an instance variable, or call that protein by name or ID, and then work with the sequence. -->
  </div>
</div>

